/* General styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 72.5%;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Press Start 2P", cursive;
  font-size: 1.2 rem;
  color: #fff;
  background-color: #111827;
  display: grid;
  place-items: center;
}
a {
  text-decoration: none;
  color: inherit;
}
/* General styles end*/
.container {
  max-width: 110rem;
  padding: 1.5rem;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 1.5rem;
  margin-top: 15%;
}
.card {
  background: #262525;
  color: #fff;
  padding: 1.5rem;
  overflow: hidden;
  border-radius: 0.8rem;
}
.card-title-large {
  font-family: "Press Start 2P", cursive;
  font-size: 5rem;
  letter-spacing: 0.5rem;
  color: #1d1d1d;
  user-select: none;
  transform: translateX(7rem);
  transition: transform 2.5s;
}
.card-title-small {
  margin-bottom: 1rem;
}
.card-description {
  font-size: 1.4rem;
  line-height: 1.5;
}
.card-cta {
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-left: auto;
}
.card:hover .card-cta {
  background-color: #262525;
}
.card:hover .card-title-large {
  transform: translateX(-115%);
  color: #fff;
}
.card.twitter:hover {
  background-color: #f7df1e;
}
.card.instagram:hover {
  background: radial-gradient(
    at 20% 150%,
    #00ffa3 20%,
    #03e1ff 60%,
    #dc1fff 90%,
    #000000 20%
  );
}
.card.facebook:hover {
  background: radial-gradient(
    at 20% 138%,
    #00ffa3 20%,
    #03e1ff 60%,
    #dc1fff 90%,
    #000000 110%
  );
}
.card.youtube:hover {
  background-color: #ff074f;
}

.primary-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  transition: background-color 0.5s;
}
.container {
  max-width: 120rem;
  margin-inline: auto;
  padding-inline: 1rem;
}
.navbar {
  height: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(255, 255, 255, 0.05);
  transition: height 0.25s;
}
.logo {
  font-size: 2.4rem;
  font-weight: 900;
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 2.5rem;
  margin-left: 3rem;
  margin-right: auto;
}
.nav-link {
  transition: color 0.25s;
}
.nav-link:hover {
  color: #d3d3d3;
}

.button {
  display: inline-block;
  background-color: #fff;
  color: #313131;
  padding: 0.8rem 2rem;
  border-radius: 2rem;
  transition: background-color 0.25s;
}
.button:hover {
  background-color: #d3d3d3;
}
header.active {
  background-color: #fff;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
}
header.active .navbar {
  height: 6rem;
}
header.active .logo,
header.active .nav-link {
  color: #313131;
}
header.active .nav-link:hover {
  color: #808080;
}
header.active .button {
  background-color: #313131;
  color: #fff;
}
header.active .button:hover {
  background-color: #151515;
}

/* header.active .header-menu {
  background-color: #808080;
} */

/* Hero Demo Content*/
.hero {
  width: 100%;
  height: 100vh;
  background: center no-repeat;
  background-size: cover;
  position: relative;

  background: -webkit-linear-gradient(
    to right,
    #2ebf91,
    #8360c3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2ebf91,
    #8360c3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.hero::after {
  content: "";
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.demo-content {
  width: 100%;
  height: 100vh;
  background-color: #111827;
}

canvas {
  display: block;
}

.events {
  font-family: "Courier New", Courier, monospace;
  width: 100%;
  height: 90vh;
  position: relative;
}
/* Hero end*/

/* .head-img {
  width: 500 px;
  animation: rotation 6s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.mob-img {
  animation: rotation 6s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* sidenav */
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

html {
  scroll-behavior: smooth;
}
